VITE_FIREBASE_API_KEY=AIzaSyALfwnNNA5PI1Rn9p0OD2OHpf1Zvur4W3k
VITE_FIREBASE_AUTH_DOMAIN=attendx-84ecb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=attendx-84ecb
VITE_FIREBASE_STORAGE_BUCKET=attendx-84ecb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=583397859017
VITE_FIREBASE_APP_ID=1:583397859017:web:5f1631170230f58733f718
VITE_API_BASE_URL=http://localhost:7860
VITE_GOOGLE_CLIENT_ID=G-4VE75FQ0HV
